{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="page-content">
            <h1>Alle sessies</h1>

            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th>Starttime</th>
                    <th>Endtime</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for session in sessions %}
                    <tr>
                        <td>{% if session.startTime %}{{ session.startTime|date('Y-m-d') }}{% endif %}</td>
                        <td>{% if session.endTime %}{{ session.endTime|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('session_show', { 'id': session.id }) }}">show</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="new-session-container">
                <a class="btn btn-success new-session-btn" href="{{ path('session_new') }}">Start met drinken</a>
            </div>

        </div>

    </div>

{% endblock %}
